html(ng-app='scrollbackApp', ng-controller="rootController",ng-init=" user = #{JSON.stringify(user)}; room = #{JSON.stringify(room)};  messages = #{JSON.stringify(messages)};  members = #{JSON.stringify(members)}; ")
	head
	meta(charset="utf-8")
	meta(http-equiv="X-UA-Compatible",content="IE=edge")
	title
		block title
			| Scrollback
	meta(name="viewport",content="width=device-width")
	link(rel="stylesheet",href="/dummy.css")
	link(rel="stylesheet",href="//fonts.googleapis.com/css?family=Open+Sans:300,800|Source+Code+Pro:300")
	link(rel="stylesheet",href="//netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.css")
	
	body
		#notifications
		#meta(ng-controller="metaController",class = 'column')
			a#logo scrollback
			#user
				a: img.face(src='{{user.picture}}' ng-click='profile()')
			#info 
				ng-view
			#foot
				| Scrollback is a product of Askabt Pte Ltd.
				| We respect your privacy. 
		#body(ng-controller="messageController",class = 'column')
			.scrollback-stream(when-scrolled-up="loadMoreUp()", when-scrolled-down="loadMoreDown()")
				div(ng-repeat="i in items track by $index")
					message(from="{{i.from}}", text="{{i.text}}")
				#endoflog
			form.messageWrapper(ng-submit="message();")
				input.messageBox(type="text", ng-model="text")
				input(id="submitButton" type="submit")
		script.
			window.scrollback = {
				host : '//' + location.host,
				streams : ["#{room.id}"],
				room: "#{room.id}",
				debug: true
			};
		script(src="//code.jquery.com/jquery-1.10.1.min.js")
		script(src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
		script(src="https://login.persona.org/include.js")
		script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular.min.js')
		script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-route.min.js')
		script(src='/sdk/jquery-fixInView.js')
		script(src='/sdk/messageArray.js')
		script(src="/sdk/polyfill.js")
		script(src='/sdk/emitter.js')
		script(src='/sdk/sockjs.js')
		script(src='/sdk/addEvent.js')
		script(src='/sdk/request.js')
		script(src='/sdk/factory.js')
		script(src='/sdk/controller.js')
		script(src='/sdk/app.js')
		script(src='/sdk/viewcontroller.js')
		script.
			$('.collapse,#meta').on('click', function() {
				$(this).toggleClass('expanded');
			});