doctype html

html(ng-app='scrollbackApp', ng-controller="rootController")
	head
	meta(charset="utf-8")
	meta(http-equiv="X-UA-Compatible",content="IE=edge")
	title	
		block title
			| #{defaultTitle || room.title} on scrollback
	meta(name="viewport",content="width=device-width")
	link(rel="stylesheet",href="/dummy.css")
	link(rel="stylesheet",href="//fonts.googleapis.com/css?family=Open+Sans:300,800|Alegreya:400|Source+Code+Pro:300")
	link(rel="stylesheet",href="//netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.css")
	
	body
		#titleBar(ng-controller="metaController")
			a(href="/me")#logo scrollback	
			a#user(ng-cloak="")
				img.face.top(ng-src='{{user.picture}}' ng-click='profile(); $event.stopPropagation();')
				#username(ng-click='profile(); $event.stopPropagation()', ng-cloak="") {{user.id.replace("guest-","")}}
				#actionText(ng-click = 'userAction(); $event.stopPropagation()', ng-cloak="") {{actionText}}
		div#notifications(ng-show="notifications.length",ng-cloak="")
			div.notification(ng-repeat="i in notifications track by $index") {{i}}
		#meta(ng-controller="metaController",ng-class="status.waiting?'waiting column':'column'")			
			#info 
				ng-view
			#foot
				| Scrollback is a product of Askabt Pte Ltd.
				| We respect your privacy. 
				a.issues(onclick='window.open("https://github.com/scrollback/scrollback/issues","_blank")') Help us improve by reporting the bugs you find.
			
		#body(ng-controller="messageController",class = 'column')
			conversation-styles(conversations = "convLabelList")
			.scrollback-stream(when-scrolled-up="loadMoreUp()", when-scrolled-down="loadMoreDown()")
				message(ng-repeat="i in items track by $index" from="{{i.from}}", text="{{i.text}}", label="i.labels", time="{{i.time}}", ng-click = "showmenu($index, i, $event)", ng-class="{'elHidden': i.labels[0] == 'hidden' || i.labels[1] == 'hidden' , 'elSelected': i.id == selectedId}", show-menu = "showMenu", menu-options ="menuOptions", id = "{{i.id}}", ng-hide = "hideMsg(i)", class='scrollback-message {{"conv" + i.labels[0].split(":")[0]}} {{"conv" + i.labels[1].split(":")[0]}}')
			div(id="nomessagediv", ng-show = "room.id && items.length === 0", ng-cloak="")
				| This room does not have any messages yet
			div(ng-show = "!room.id", ng-cloak="")
				| No room selected, please select a room to view it's messages.
			form.messageWrapper(ng-submit="message();")
				input.messageBox(type="text", ng-model="text")
				input(id="submitButton" type="submit")
			a(name="endoflog")
			if(room.params && (typeof room.params.allowSEO === 'undefined' || room.params.allowSEO))
				div(class="scrollback-hidden")
					each m in messages
							if(m.from && m.text)
									div: [#{m.from.replace("guest-","")}]: !{format(m.text.replace('{{','{ {'))} 
					a(target="_self", href='/#{room.id}/until/#{prevLink}') prev
					a(target="_self", href='/#{room.id}/since/#{nextLink}') next
							
		script.
			window.scrollback = {
				host : '//' + location.host,
				streams : ["#{room.id}"],
				room: "#{room.id}",
				debug: true
			};
			
		script.
			var sbuser = !{JSON.stringify(user)};
			var sbroom = !{JSON.stringify(room)};
		script(src="//code.jquery.com/jquery-1.10.1.min.js")
		script(src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
		script(src="https://login.persona.org/include.js")
		script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular.min.js')
		script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-route.min.js')
		script(src='/sdk/jquery-fixInView.js')
		script(src='/sdk/messageArray.js')
		script(src='/s/script.js')
		script(src="/sdk/polyfill.js")
		script(src='/sdk/emitter.js')
		script(src='/sdk/sockjs.js')
		script(src='/sdk/addEvent.js')
		script(src='/sdk/request.js')
		script(src='/sdk/factory.js')
		script(src='/sdk/controller.js')
		script(src='/sdk/directives.js')
		script(src='/sdk/app.js')
		script(src='/sdk/viewcontroller.js')
		
		script.
			$('.collapse,#titleBar').on('click', function() {
				$('#meta').toggleClass('expanded');
			});
		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
