extends layout

block title
	| #{query.title}
block styles
	link(rel="stylesheet", href="/archive.css")
	style.
		.scrollback-embed{
			display: none !important;
		}
		.link{
			font-size: 0.6em;
			margin: 2em;
			text-decoration: none;
			color: #222;
		}
		.link:hover{
			text-decoration: underline;
		}
		#action{
			background: #000;
		}
		h1 button { 
			height: 40px;
			border: none;
			line-height: 2em;
			background-color: #555;
			padding: 0px;
			border-left: 4px solid #fff;
			border-right: 4px solid #fff;
		}
		.newArchive { background: #3ca; color: #fff; line-height: 40px; margin: 0 0 8px 0; }
block append scripts
	script(type='text/javascript').
		window.scrollback = {host: '//' + location.host};
		var stream="#{query.to}";
		var prevtime=#{prevtime};
		var isLastPage= #{isLastPage};
		var room = !{JSON.stringify(room || {})};
	script(src="//code.jquery.com/jquery.min.js")
	script(src="/sdk/sockjs.js")
	script(src="/sdk/addEvent.js")
	script(src="/sdk/addStyle.js")
	script(src="/sdk/emitter.js")
	script(src="/sdk/request.js")
	script(src="/sdk/domReady.js")
	script(src="/sdk/getByClass.js")
	script(src="/sdk/jsonml2.js")
	script(src="/sdk/polyfill.js")
	script(src="/sdk/browserNotify.js")
	script(src="/sdk/cache.js")
	script(src="/sdk/client.js")
	script(src="/sdk/css.js")
	script(src="/sdk/dom.js")
	script(src="/sdk/embed.js")
	script(src="/sdk/dialog.js")
	script(src="/sdk/render.js")
	script(src="/sdk/archive.js")
	
block content
	.container
		div.span12.box.newArchive
			a.newArchive(href="/#{query.to}") Check out our beta archive view
	.container
		.box.span12.container
			div.container
				div.box.span8
					h1.box.span10 #{query.title} archives (#{relDate(data[0].time)} ago)
				div.box.span4
					h1
						if user.indexOf("guest-") == 0
							button#action.login.span12 Login
						else
							if membership && (membership.indexOf(query.to)!=-1)
								button#archive-part.span6 Unfollow
								button#archive-join.archive-membership-hidden.span6 Follow
							else
								button#archive-join.span6 Follow
								button#archive-part.archive-membership-hidden.span6 Unfollow
			if data.length <= 1
				div.container.intro
					span.box.span12 This room doesnt have any messages. You can chat from this page using the text box below. Share the link with your friends. You can also embed a widget on your webpage using the script given below. Each room can have configurations to it, like adding the IRC accounts, enabling plugins. You have to login to configure any room.
			div.container
				div.timeRange.box.span12
					if(scrollPrev)
						div.prevButton.span3
							a.navLink.prevButton(href="/old/#{query.to}/until/#{scrollPrev}") Prev
					if(scrollNext)
						div.nextButton.span4
							a.navLink.nextButton(href="/old/#{query.to}/since/#{scrollNext}") Next
					if data.length > 1
						div.span5.message.timecontent
							span.rangeText Showing #{relDate(data[0].time, data[data.length-1].time)} of conversation 
				
			#messageList.box.span12
				- prevtime = 0
				each message in data
					if message && message.type && message.type=="text"
						.item.container
							div.box.span12
								if message.text.indexOf("/me ") != 0
									div.box.span3 [#{message.from.replace('guest-','')}]
									div.box.span5.message #{message.text}
								else
									div.box.span8 [#{message.text.replace("/me",message.from.replace('guest-',''))}]
								if(prevtime)
									div.box.span4.time #{relDate(prevtime, message.time)} later
								else
									div.box.span4.time #{relDate(message.time)} ago
						- prevtime = message.time
							
			if(!scrollNext)
				div.container#bottom
					div.box.span12
						form#messageForm
							.span3.floatLeft
								input#nick.formItem(type="text",readonly=true)
							.span9.floatLeft
								input#messageBox.formItem(type="text")
								input#sendMessageButton(type="submit" ,style="visibility: hidden; height:0px; width:0px;") 
			div.timeRange.box.span12
				if(scrollPrev)
					div.prevButton.span3
						a.navLink.prevButton(href="/old/#{query.to}/until/#{scrollPrev}") Prev
					
				if(scrollNext)
					div.nextButton.span3
						a.navLink.nextButton(href="/old/#{query.to}/since/#{scrollNext}") Next
			
			.embed.box.span12.paddingBottom100px
				p.embed Embed #{query.to} on your web page.
				pre.
					&lt;script&gt;
						window.scrollback = {
							streams:["#{query.to}"],
							theme: 'light',
							ticker: true,
						};

						/***** don't edit below *****/
						(function(d,s,h,e){e=d.createElement(s);e.async=1;
						e.src=h+'/client.min.js';scrollback.host=h;
						d.getElementsByTagName(s)[0].parentNode.appendChild(e);}
						(document,'script',location.protocol+'//scrollback.io'));
					&lt;/script&gt;
	-isLastPage=scrollNext?false:true;
