extends layout

block append styles
	style.
		.picture{
			width: 72px;
			height: 72px;
			border: 2px solid #ccc;
		}
		.save{
			margin-top: 10px;
		}
	style.
		.form{
			margin-top: 25px;
			margin-bottom: 25px;
			padding-bottom: 10px;
			border-bottom: 1px solid #404040;
		}
		#result{
			background-color: #404040;
			color: white;
			overflow: hidden;
			height: 2em;
			line-height:2em;
			padding-left: 3em;
		}		
		.heading{
			border-bottom: 1px solid #404040;	
		}
		.row{
			margin-top: 15px;
			margin-bottom: 15px;
		}

		.pluginBlock {
			border: 1px solid black;
			border-radius: 3px;
			margin-top: 1em;
		}
		.marginTop10px{
			margin-top: 10px;
		}
block content
	div.pluginBlock
		div.container.clearfix.heading
			div.box.span6 
				-room.name = room.name || room.id
				-title=room.name.replace(/(\W+|^)(\w)(\w*)/g, function(m, s, f, r) {return f.toUpperCase() + r.toLowerCase() + ' ';});
					h1 Configure Room: #{title}
		div.container.clearfix
			div.box.span3
				div.container.clearfix
					div.span12
						img.picture(src='#{room.picture || "/img/room48.png"}')
			div.box.span9.row.marginTop10px
				div.container
					div.box.span6
						b
							span Name
					div.box.span6
						span #{room.name|| room.id}
				div.container
					div.box.span6
						b
							span Created
					div.box.span6
						if(room.createdOn)
							span #{relDate(new Date(room.createdOn).getTime(), new Date().getTime())} ago
						else
							span Not Yet
	script(src='//code.jquery.com/jquery.min.js')
	script.
		var pluginPackager = [];
		
		(function(){
			var room = !{JSON.stringify(room)};

			function save(room, callback){
				room.type = "room";
				console.log(room);
				$.ajax({
					type: "POST",
					url: "/"+room.id+"/config",
					beforeSend: function (request){
						request.setRequestHeader("Accept", "application/json");
						request.setRequestHeader("Content-Type", "application/json");
					},
					data: JSON.stringify(room),
					success: function(data) {
						data = JSON.parse(data);
						callback(data);
					}
				});
			}
			window.room = room;
			$(document).ready(function(){
				$("#saveAccount").click(function() {
					pluginPackager.forEach(function(element) {
						element(room);
					});

					save(room,function(data) {
						if(data.error){
							alert(data.error || "Error in saving.");
						}
						else{
							alert("Saved");
							location.href = location.href.replace("/config","");
						}
					});
				});
			});
		})();

	each plugin in Object.keys(pluginsUI)
		div.box.span12
			!{pluginsUI[plugin](room)}

	div.container.clearfix
		div.box.span2.save
				button#saveAccount	Save