extends dialog
block append styles
	style.
		#picture { position: relative; }
		#picture img { position: absolute; left: 0; top: 0; max-width: 40px; max-height: 40px; }
		#nickname.error {
			border-color: #f00;
		}

block userinfo
	a(href='#') #{user.id.replace(/^guest-/, '')}

block content
	div.box.span12
		if(user.id.match("^guest"))
			form#profilefrm.clearfix
				.field.box.span6
					label.before(for='nickname') Scrollback username
						input#nickname(value="#{user.id.replace(/^guest-/,'')}")
					p.after Usernames should begin with a letter and be at least 5 letters long.
				if(user.accounts &&  user.accounts.length>0)
					p.break.before Connected accounts
					each account in user.accounts
						input.break.box.span6.account(disabled=true, value='#{account.id.split(":")[1]}')
				p.box.break.right.span6
					button.primary.span3(type='submit') Save changes
		else
			form.clearfix
			// .field.box.span3.gapr
				label.before(for='picture') Avatar
				button#picture
					img(src='/img/icon/user.png')
					| Change
			.field.box.span6
				label.before(for='nickname') Scrollback username
					input#nickname(value="#{user.id}",disabled=true)
			if(user.accounts &&  user.accounts.length>0)
				p.break.before Connected accounts
				each account in user.accounts
					input.break.box.span6.account(disabled=true, value='#{account.id.split(":")[1]}')
				p.box.break.right.span6
					button#logout.primary.span3(type='button') logout
		

block append scripts
	script(src="https://login.persona.org/include.js")
	script.
		$(document).ready(function() {
			$("#profilefrm").submit(function(e) {
				var user = { id: $("#nickname").val(), accounts: [] };
				if(validateNick(user.id)) {
					window.parent.postMessage(user, "*");
				} else {
					notify("User name is not valid");
					$("#nickname").addClass("error");
				}
				e.preventDefault();
				return false;
			});
			$("#logout") && $("#logout").on("click",function(event){
				window.parent.postMessage({ guestname: "guest-"}, "*");
				navigator.id.logout();
			});
		});
		
		
		$(window).on("message", function(event) {
			var message;
			event = event.originalEvent;
			if(typeof event.data === 'string') {
				try { message = JSON.parse(event.data); }
				catch(e) {
					console.log("Error parsing incoming message: ", event.data, e);
					return;
				}
			} else { message = event.data; }
			
			if(message.type=="error") {
				if(message.data=="DUP_NICK") {
					notify("User name already taken");
					$("#nickname").addClass("error");
					$("#nickname").focus();
				}else if(message.data=="INVALID_NAME") {
					notify("User name is not valid");
					$("#nickname").addClass("error");
				}
				else{
					notify(message.data);
				}
			}
		});
		
		function validateNick(nick){
			if (nick.indexOf("guest-")==0) return false;
			return (nick.match(/^[a-z][a-z0-9\_\-\(\)]{2,32}$/i)?nick!='img'&&nick!='css'&&nick!='sdk':false);
		}