extends layout

block title
	| #{query.title}
block styles
	link(rel="stylesheet", href="/archive.css")
	style.
		.scrollback-embed{
			display: none !important;
		}

block append scripts
	script(type='text/javascript')
		window.scrollback = {host: 'http://' + location.host};
	script(src="/socket.io/socket.io.js")
	script(src="/sdk/emitter.js")
	script(src="/sdk/client.js")
	script(src="/sdk/cache.js")
	script(src="/sdk/addEvent.js")
	script(src="/sdk/domReady.js")
	script(src="/sdk/browserNotify.js")
	script(src="/sdk/polyfill.js")
	script(src="/sdk/archive.js")

block content
	.container
		.box.span12.container
			h1.box.span12 #{query.title} archives (#{relDate(data[0].time)} ago)
			div.container
				div.timeRange.box.span12
					if(scrollPrev)
						div.prevButton.span3
							a.navLink.prevButton(href="/#{query.to}/until/#{scrollPrev}") Prev
					if(scrollNext)
						div.nextButton.span4
							a.navLink.nextButton(href="/#{query.to}/since/#{scrollNext}") Next
					div.span5.message.timecontent
						span.rangeText Showing #{relDate(data[0].time, data[data.length-1].time)} of conversation 
				
			#messageList.box.span12
				- prevtime = 0
				each message in data
					if message && message.type && message.type=="text"
						.item.container
							div.box.span12
								div.box.span3 [#{message.from}]
								div.box.span5.message #{message.text}
								if(prevtime)
									div.box.span4.time #{relDate(prevtime, message.time)} later
								else
									div.box.span4.time #{relDate(message.time)} ago
						- prevtime = message.time
							
			if(!scrollNext)
				div.container#bottom
					div.box.span12
						form#messageForm
							.span3.floatLeft
								input#nick.formItem(type="text")
							.span9.floatLeft
								input#messageBox.formItem(type="text")
			div.timeRange.box.span12
				if(scrollPrev)
					div.prevButton.span3
						a.navLink.prevButton(href="/#{query.to}/until/#{scrollPrev}") Prev
					
				if(scrollNext)
					div.nextButton.span3
						a.navLink.nextButton(href="/#{query.to}/since/#{scrollNext}") Next
			
			.embed.box.span12.paddingBottom100px
				p.embed Embed #{query.to} on your web page.
				pre.
					&lt;script&gt;
						window.scrollback = {
							streams:["#{query.to}"],
							theme: 'light',
							ticker: true,
						};

						/***** don't edit below *****/
						(function(d,s,h,e){e=d.createElement(s);e.async=1;
						e.src=h+'/client.min.js';scrollback.host=h;
						d.getElementsByTagName(s)[0].parentNode.appendChild(e);}
						(document,'script',location.protocol+'//'+location.host));
					&lt;/script&gt;
	-isLastPage=scrollNext?false:true;
	script.
		var stream="#{query.to}";
		var prevtime=#{prevtime};
		var isLastPage= #{isLastPage};
