extends dialog
block append styles
	style.
		#picture { position: relative; }
		#picture img { position: absolute; left: 0; top: 0; max-width: 40px; max-height: 40px; }
		#nickname.error{
			border-color: #E82206;
			border-width: 2px;
		}
		#nickname:focus{
			outline:none;
			border-width: 2px;
		}

block userinfo
	a(href='#') #{user.id.replace(/^guest-/, '')}

block content
	div.box.span12
		form#profilefrm.clearfix.container
			// .field.box.span3.gapr
				label.before(for='picture') Avatar
				button#picture
					img(src='/img/icon/user.png')
					| Change
			.field.box.span3
				label.before(for='nickname') User Name
				if(user.id.match("^guest"))
					-username=user.id.replace(/^guest-/,"")
					input#nickname(value="#{user.id.replace(/^guest-/,"")}")
				else
					input#nickname(value="#{user.id}",readonly="readonly")
			
			if(user.accounts &&  user.accounts.length>0)
				p.break.before Connected accounts
				each account in user.accounts
					input.break.box.span6(disabled=true, value='#{account}')
			if(user.id.match("^guest"))
				p.box.break.right.span6
					button.primary.span3(type='submit') Save changes
			

block append scripts
	script(src="http://code.jquery.com/jquery.min.js")
	script.
		$(document).ready(function() {
			$("#profilefrm").submit(function(e) {
				var user = { id: $("#nickname").val(), accounts: [] };
				if(validateNick(user.id)) {
					window.parent.postMessage(user, "*");
				} else {
					console.log("user name invalid....");
					notify("User name is not valid");
					$("#nickname").addClass("error");
				}
				e.preventDefault();
				return false;
			});
		});
		
		
		addEvent(window, "message", function(event) {
			var message;
			console.log(event);
			if(typeof event.data === 'string') {
				try { message = JSON.parse(event.data); }
				catch(e) {
					console.log("Error parsing incoming message: ", event.data, e);
					return;
				}
			} else { message = event.data; }
			
			if(message.type=="error") {
				if(message.data=="DUP_NICK") {
					notify("User name already taken");
					$("#nickname").addClass("error");
					$("#nickname").focus();
				}else if(message.data=="INVALID_NAME") {
					notify("User name is not valid");
					$("#nickname").addClass("error");
				}
			}
		});
		
		function validateNick(nick){
			var x=(nick.match(/^[a-z][a-z0-9\_\-\(\)]*$/i)?true:false);
			return x;
		}