extends layout


block title
	| #{title} - Scrollback

block styles
	style.
		.scrollback-icon-pop { display:none !important; }
		#intro {
			background: #eee; width: 480px; float: left;
			color: #000; padding: 40px;
			transition: all 0.200m; -webkit-transition: all 0.2s;
			font-size: 15px; margin: 40px;
		}
		#intro p {
			margin: 16px 0 0 0;
		}
		#intro.collapsed { left: -240px;}
		#intro.collapsed #hide { display: none; }
		#hide { position: absolute; top: 0px; right: 0px;
			width: 40px; line-height: 40px; text-align: center;
			cursor: pointer;
		}
		#hide:hover { background: #000; }
		#intro a { text-decoration: none; }
		#intro input { height: 40px; width: 100%; }
		.em { font-weight: 700; }
		
		.small { font-size: 10px; line-height: 10px; font-weight: 400; }
		
		#add { clear: both; }
block content
		#intro
			p.em Embed this room on your website.
			p.
				Paste this code above the <code>&lt;/body&gt;</code> closing tag in your site's HTML.
			pre: code.small.
				window.scrollback = {
					streams:!{streams},
					theme: 'light',
					ticker: true,
					minimized: true
				};
				/***** don't edit below *****/
				(function(d,s,h,e){e=d.createElement(s);e.async=1;
				e.src=h+'/client.min.js';scrollback.host=h;
				d.getElementsByTagName(s)[0].parent.appendChild(e);}
				(document,'script','http://'+location.host));
			
			p.em Create your own room
			
			form#add
				input#streamId
				button.hidden(type="submit")
	
block scripts
	script(src='http://code.jquery.com/jquery.min.js')
	script.
		window.scrollback = {
		streams:!{streams},
			theme: 'light',
			ticker: true,
			close: true,
			minimized: false,
			maxWidth: 480,
			maxHeight: 9999,
		};
		// Don't change below this line ------------------------------------------------
		(function(d,h,e){e=d.createElement('script');e.async=1;e.src=h+'/client.min.js';
		scrollback.host=h;d.body.appendChild(e);}(document,'http://'+location.host));
		
		$(document).ready(function() {
			$("form#add").submit(function (event) {
				location.href = '/' + $('#streamId').val() + '/';
				return false;
			});
		});
		
