<html>

<body style="font-family: Helvetica,Arial,sans-serif">
	<table style="width: 100%; border: 1px solid #ccc;" cellspacing="0" border="0">
		<tr>
			<td style="background: #000; border-bottom: 4px solid #3ca; padding: 10px 20px;">
				<a href="https://scrollback.io/" style="text-decoration: none">
					<img src="https://scrollback.io/s/assets/logo/scrollback-logo.png" alt="scrollback" />
				</a>
			</td>
		</tr>
		<tr>
			<td style="background: #eee; padding: 20px 20px 0 30px;">
				<p style="padding: 0; margin: 0; font-weight:bold; text-transform: uppercase; color: #999;">Updates from rooms you follow</p>
			</td>
		</tr>
		<tr>
			<td style="background: #eee; padding: 0 10px 10px 10px;">
				<table cellspacing="0" cellpadding="0" border="0">

					<tr>
					{{#each rooms}}
						<td style="width: 320px; padding: 10px; display:inline-block; vertical-align: top;">
							<table style="width: 320px; background: #fff; table-layout: fixed; box-shadow: 0 4px 16px 0 #555;" cellspacing="0" border="0">
								<tr style="background: #555; color: #fff; font-weight: bold;">
									<td style="width: 230px; padding: 10px 0px 10px 20px;">
										<a href="https://scrollback.io/{this.id}" style="color: #fff; font-weight: bold; text-decoration: none">{{this.id}}</a>
									</td>
									<td style="width: 30px; padding: 10px 20px 10px 0; vertical-align: top; text-align: right;">{{this.totalCount}}</td>
									{{#each this.threads}}
									<tr style="background: #fff; color: #000;">
										<td style="color: #fff; padding: 10px 0 5px 20px;">
											<a href="https://scrollback.io/{{../this.id}}/{{this.thread}}/{{this.title}}" style="color: #000; text-decoration: none">
												{{this.title}}
											</a>
										</td>
										<td style="padding: 10px 20px 5px 0; vertical-align: top; text-align: right;">{{this.count}}</td>
										{{#each this.interesting}}
										<tr>
											<td colspan="2" style="padding: 5px 20px 5px 40px;">
												<div style="width: 100%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
													<span style="color: #999">{{this.from}}</span>
													<span style="color: #555"> {{this.text}} </span>
												</div>
											</td>
										</tr>
										{{/each}}
									</tr>
									{{/each}}
								</tr>
								<tr>
									<td style="height: 10px;"></td>
								</tr>
							</table>
						</td>
					{{/each}}
					</tr>

				</table>
			</td>
		</tr>
		<tr>
			<td style="background: #eee; padding: 10px 20px; font-size: 0.8em; color: #999">
				<p>If you don't want these email notifications anymore,
					<a style="color: #555" href="https://{{domain}}/r/unsubscribe?email={{token}}">
						Unsubscribe 
					</a>. Copyright &copy; 2014 Askabt Pte. Ltd.
				</p>
			</td>
		</tr>
	</table>
</body>

</html>
